<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureCart</title>
</head>
<body>
    <div class="topnav">
        <table>
            <tbody>
                <tr>
                    <td>
                        <form method="post" action="\">
                            <button>Exit Admin Mode</button>
                        </form>
                    </td>
                    <td>
                        <a href="/addnewproduct">
                            <button>Add a product</button>
                        </a>
                    </td>
                    <td>
                        <a href="/addnewstock">
                            <button>Add new stock</button>
                        </a>
                    </td>
                    <td>
                        <a href="/removeproduct">
                            <button>Remove a product</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>New Admin Account</h2>
        <form action="" method="post">

            <div class="logs-label">Personal Details</div>
            <!-- Change input fields to buttons acting as labels -->
            <div>
                <button class="user-label-button">Forename</button>
                <input name="forename" class="user-entry-box" placeholder="Example: Sarah"></input>
            </div>
            <div>
                <button class="user-label-button">Surname</button>
                <input name="surname" class="user-entry-box" placeholder="Example: Smith"></input>
            </div>
            <div>
                <button class="user-label-button">Email Address</button>
                <input name="email" class="user-entry-box" placeholder="Example: sarah.smith@email.com"></input>
            </div>
            <div>
                <button class="user-label-button">Username</button>
                <input name="username" class="user-entry-box" placeholder="Enter Username">
            </div>
            <div>
                <button class="user-label-button">Password</button>
                <input name="password" type="password" class="user-entry-box"
                    placeholder="Must be more than 10 characters including upper and lower case, symbols and numbers">
            </div>
            <div>
                <button class="user-label-button">Confirm Password</button>
                <input name="confirmPassword" type="password" class="user-entry-box" placeholder="Confirm Password">
            </div>
            <div>
                <input type="submit" class="sign-up-button" value="Sign Up" />
            </div>
        </form>
    </div>

</body>
</html>